apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: express-server-ingress
spec:
  rules:
    - http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: express-server-svc
              port: 
                number: 1234