apiVersion: apps/v1
kind: Deployment
metadata:
  name: hashgenerator-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hashgenerator
  template:
    metadata:
      labels:
        app: hashgenerator
    spec:
      containers:
        - name: hashgenerator
          image: nickleezx/log_output:0.0.1
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "3002"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong-app
          image: nickleezx/ping-pong-app:0.0.1
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "3001"

